

<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Walidator PESEL
  </h1>


    <div class="container"
      fxLayoutAlign="center"  >
    <mat-card class="big-input" [ngClass]="{ 'has-focus': hasFocus }">
      <form (ngSubmit)="onSubmit()" class="container">

      <input matInput (focus)="hasFocus = true" (blur)="hasFocus = false"
             placeholder="Podaj numer PESEL"
             [(ngModel)]="inputNumber" name="peselInput"
             fxFlex="90%"/>
       <button mat-raised-button type='submit' fxFlex="10%">
        <mat-icon>play_arrow</mat-icon>
      </button>
     </form>
    </mat-card>
  </div>

<h2 *ngIf="isValid" class="container valid" fxLayoutAlign="center">
    <mat-icon class="vertical-center">check_circle</mat-icon>
    <span>PESEL prawidłowy</span>
</h2>

<h2 *ngIf="!isValid" class="container invalid" fxLayoutAlign="center">
    <mat-icon class="vertical-center">cancel</mat-icon>
    <span>PESEL nieprawidłowy</span>
</h2>
</div>


<div class="container"
      fxLayoutAlign="center"
      fxLayout.xs="column"
      fxLayoutGap="20px">

<mat-card fxFlex="30%">
  <mat-card-content fxfill fxLayoutAlign="center">
    <mat-icon class="vertical-center" fxFlex="30">calendar_today</mat-icon>
    <span fxFlex="60">{{day}}.{{month}}.{{year}}</span>
  </mat-card-content>
</mat-card>

<mat-card fxFlex="30%">
  <mat-card-content fxfill fxLayoutAlign="center">
    <mat-icon class="vertical-center" fxFlex="30">wc</mat-icon>
    <span *ngIf="isMale" fxFlex="60">Mężczyzna</span>
    <span *ngIf="!isMale" fxFlex="60">Kobieta</span>
  </mat-card-content>
</mat-card>

</div>


<router-outlet></router-outlet>
